@font-face {
	font-family: 'champagne & limousines';
	src: url('fonts/CL/Champagne & Limousines-webfont.eot');
	src: url('fonts/CL/Champagne & Limousines-webfont.woff') format('woff'),
		 url('fonts/CL/Champagne & Limousines-webfont.ttf') format('truetype'),
		 url('fonts/CL/Champagne & Limousines-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'nexa rust';
	src: url('fonts/NX/nexarustscriptl-0-webfont.eot');
	src: url('fonts/NX/nexarustscriptl-0-webfont.woff') format('woff'),
		 url('fonts/NX/nexarustscriptl-0-webfont') format('truetype'),
		 url('fonts/NX/nexarustscriptl-0-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    font-family: 'champagne & limousines';
    background-image: url(img/background_bubble.jpg);
    z-index: -1;
    width: 100%;
}

/* ----------------------- MENU ---------------------------- */
#menu {
   position: absolute;
  width: 94%;
  top: 79px;
  margin-left: 11%;
}

#menu ul {
	list-style: none;
	text-align: center;
	margin: 0;
}

#menu ul li {
display: inline;
  margin: 29px;
  padding: 0;
  font-size: 27px;
     display: inline-block;
}

#menu ul li p {

  margin-top: 0px;
}

#menu img:last-child {
position: absolute;
  top: -11px;
  z-index: -1;
  left: 251px;
  width: 76%;
}

#menu ul li a {
color: #005c78;
	text-decoration: none;
}
#menu a:hover {
color: #f26e6d;
	text-decoration: none;
}
#current {
color: #005c78;
	font-weight: bold;
}


#logo {
	float: left;
	position: absolute;
	top: 33px;
	left: 48px;
    width: 19%;
}

.clearer {
    clear: both;
}

#header {
    background-color: azure;
    height: 277px;
}


.afbnav{
margin: 4% 0 0 2%;    
}


.hotspotafb{
    width: 10%;
    margin-left: 1%;
    margin-right: 1%;
}

.hotspot_content{
    height: 450px;
    background-color: #ffcf46;
    margin-top: -17px;
    padding: 7% 0;
}

.afb_inline {
margin-left: 13%;
  width: 126%;
    display: block;
}

.button {
    margin: 2% 2% 2% 16%;
  width: 7%;
}

.hotspot_content p {
  float: right;
  margin-top: 3.3%;
  width: 48%;
  margin-right: 3%;
/*  color: white;*/
  font-size: 21px;
/*  font-weight: bold;*/
color: rgb(0, 93, 121)
}

.linkerkant {
    float: left;
}

.linkerkant h1 {
      font-size: 76px;
  font-weight: bold;
  margin-left: 22%;
  margin-top: -45px;
  height: 71px;
    color: #f26e6d;
    width: 100%;
}

.hidden {
    display: none;
}


.reclame1, .reclame2, .reclame3, .reclame4{
	display: none;
}

.selected{
	display:inline;
}

.hidden{
        display:none;
    }


#sportoase .button{
    margin-left:18%;
}

#aquatopia h1 {
font-size: 64px; 
width:133%;
}

#spoornoord h1 {
font-size: 53px; 
margin-top: -67px;
}

#jeugdbeweging h1 {
font-size: 50px;
}

#kinderwerking h1{
    font-size:48px;
}

#sportoase h1 {
font-size: 50px;
}

#bowlingstones h1 {
    font-size:44px;
}

#circusschool h1{
font-size: 51px;
}

#sporthal h1{
    font-size:60px;
}

#klappei .button{
    margin-left:19%;
}

#flandria p{
    width:52%;
}

#flandriaboot{
    width:24%;  
    position:absolute; 
    top:1404px;
}

@media only screen and (min-width: 1349px) and (max-width: 1404px) {
    .button{
        margin: 2% 2% 4% 13%;
  width: 6%;
    }
    
    .hotspot_content p {
        font-size: 1.2em;
    }
     #sportoase .button {
        margin-left: 13%;
    }
  #flandriaboot {
        top: 1366px;
    }  
    
}

@media only screen and (min-width: 1297px) and (max-width: 1348px) {
    #flandriaboot {
        top: 1335px;
    }
    
    .button{
        margin: 2% 2% 4% 16%;
  width: 6%;
    }
    
    .hotspot_content p {
        margin-right: 2%;
        font-size: 1.2em;
    }
    
    .afb_inline {
        width: 120%;
}
     #sportoase .button {
        margin-left: 20%;
    }
    
    #klappei .button {
    margin-left: 16%;
}

#klappei .linkerkant img {
    width: 120%;
}
}
    
@media only screen and (min-width: 1147px) and (max-width: 1296px) {
    #flandriaboot {
        top: 1304px;
    }
 
.button{
margin: 2% 0% 4% 11%;
  width: 6%;
    }
    
    .hotspot_content p {
        margin-right: 7%;
        font-size: 1.2em;
    }
    
    .afb_inline {
        width: 106%;
    }
    
    .linkerkant h1{
        font-size: 53px;
    }
    #circusschool h1{
        font-size: 44px;
    }
    
    #sporthal h1{
        font-size: 56px;
    }
    
    #kinderwerking h1{
        font-size: 41px;
    }
    
    #kinderwerking p{
        width: 54%
    }
    
    #kinderwerking .button {
        margin-left:6%;
    }
     #sportoase .button {
        margin-left: 13%;
    }
      #klappei .button {
    margin-left: 10%;
}

#klappei .linkerkant img {
    width: 120%;
}
    
    
    #flandriaboot{
    top:1263px;
    }
    
    #jeugdbeweging h1 {
font-size: 45px;
}
}
@media only screen and (min-width: 800px) and (max-width: 1146px) {
.button{
margin: 2% 0% 4% 7%;
  width: 6%;
    }
    
      #jeugdbeweging h1 {
          font-size: 35px;}
    
    #sporthal h1 {
        font-size: 46px;
        
    
    }
    .hotspot_content p {
        margin-right: 7%;
        font-size: 1.2em;
    }
    
    #jeugdbeweging p {
        width: 51%;
    }
    
    .afb_inline {
        width: 100%;
    }
    
    .linkerkant h1{
        font-size: 48px;
    }
    
     #sportoase .button {
        margin-left: 13%;
    }
      #klappei .button {
    margin-left: 10%;
}

#klappei .linkerkant img {
    width: 120%;
}
     #flandriaboot{
    top:1219px;
    }
    #circusschool h1{
        font-size: 44px;
    }
    
    #sporthal h1{
        font-size: 56px;
    }
    
    #kinderwerking h1{
        font-size: 34px;
    }
    
    #kinderwerking p{
        width: 55%;
    }
    
    #kinderwerking .button {
        margin-left:6%;
    }
     #sportoase .button {
        margin-left: 13%;
    }
      #klappei .button {
    margin-left: 10%;
}

}

